.tabContainerNavOpen {
  margin-top: 50px;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.tabContainerNavClose {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
