.tabContainer h1 {
  text-align: center;
  margin: 10px 0px;
}

.buttonContainerExpert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.buttonContainerExpert a {
  margin: 0 2rem;
}

.buttonContainerExpert button {
  width: 6rem;
  height: 2.5rem;
  line-height: 1;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
  border: none;
}
