.tabContainerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(92vh);
  padding-left: 70px;
}

.pageForm {
  border-radius: 20px;
  background-color: var(--secondColor);
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  position: relative;
  height: 87vh;
  width: 90vw;
}

.pageFormInside {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-around;
  overflow-wrap: normal;
  height: 88%;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.columnsDiv {
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.columnsDiv input {
  width: 25vw;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.columnsSelect {
  width: 25vw;
}

.basic-multi-select {
  margin-top: 0.5rem;
}

.css-1s2u09g-control {
  background-color: var(--inputColor) !important;
}

.novalidated__control {
  border: 1px solid red !important;
}

.columns textarea {
  width: 25vw;
  height: auto;
  margin-top: 0.5rem;
}

.pageFormInside input,
.pageFormInside textarea,
.pageFormInside select {
  background-color: var(--inputColor);
  border: none;
}

#idWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#idWrapper input {
  width: 3rem;
  height: 1.4rem;
  text-align: center;
  margin: 0;
  margin-left: 0.5rem;
}

#idWrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-left: 1rem;
}

.circle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.circle:hover {
  transform: scale(1.1);
}

.buttonAddForm {
  background-color: var(--firstColor);
  color: var(--secondColor);
  border: none;
  width: 3rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-right: 1rem;
}

.buttonAddForm:hover {
  transform: scale(1.1);
}

.trashCan:hover {
  transform: scale(1.2);
}

.checkOrTrash {
  position: absolute;
  right: 4vw;
  bottom: 0.2rem;
  display: flex;
  align-items: center;
}

#number {
  padding: 0;
}

/* Answer Edit */
#formAnswer {
  padding: 1em;
  padding-bottom: 0.3em;
  height: auto;
  width: auto;
  border: 1px solid var(--firstColor);
}

.checkOrTrashAnswer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 0.5em;
}

.inputAnswer {
  margin-top: 0.2em !important;
  margin-bottom: 0.5em;
  text-align: left;
}

#answerForm {
  flex-direction: column;
  width: 20vw;
}

#answerForm input {
  width: 20vw;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
