.tabContainerClient {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(92vh);
  padding-left: 70px;
}

.pageClient {
  border-radius: 20px;
  background-color: var(--secondColor);
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  position: relative;
  height: 84vh;
  width: 90vw;
}

.pageClientForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-around;
  overflow-wrap: normal;
  height: 80%;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.columnsDiv {
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.columnsDiv input {
  width: 25vw;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.columnsSelect {
  width: 25vw;
}

.basic-multi-select {
  margin-top: 0.5rem;
}

.css-1s2u09g-control {
  background-color: var(--inputColor) !important;
}

.columns textarea {
  width: 25vw;
  height: 9rem;
  margin-top: 0.5rem;
}

.pageClientForm input,
.pageClientForm textarea,
.pageClientForm select {
  background-color: var(--inputColor);
  border: none;
}

#idWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#idWrapper input {
  width: 3rem;
  height: 1.4rem;
  text-align: center;
  margin: 0;
  margin-left: 0.5rem;
}

#idWrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-left: 1rem;
}

.circle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.circle:hover {
  transform: scale(1.1);
}

button {
  background-color: var(--firstColor);
  color: var(--secondColor);
  border: none;
  width: 3rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-right: 1rem;
}

button:hover {
  transform: scale(1.1);
}

.trashCan:hover {
  transform: scale(1.2);
}

.checkOrTrash {
  position: absolute;
  right: 4vw;
  bottom: 1.2rem;
  display: flex;
  align-items: center;
}

#number {
  padding: 0;
}
