.projectExpertContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 100px;
  margin-top: 50px;
}

/* barre de filtre/recherche */
.div1 {
  grid-area: 1 / 1 / 2 / 6;
}

/* card project à gauche */
.midiProject {
  grid-area: 2 / 1 / 6 / 2;
}

/* cards experts */
.div3 {
  grid-area: 2 / 3 / 4 / 4;
}
.div4 {
  grid-area: 2 / 4 / 4 / 5;
}
.div5 {
  grid-area: 2 / 5 / 4 / 6;
}
.div6 {
  grid-area: 4 / 3 / 6 / 4;
}
.div7 {
  grid-area: 4 / 4 / 6 / 5;
}
.div8 {
  grid-area: 4 / 5 / 6 / 6;
}
