.projectContainerOpen {
  margin-top: 50px;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
}

.projectContainerClose {
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
