.projectExpertContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 2fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  margin-left: 100px;
  width: 90vw;
  height: 100vh;
}