/* barre de filtre/recherche */
.filter {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    align-items: center;
  }
  
.sousfilter {
  /* margin-top: 2%; */
  display : flex;
  align-items : center; 
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px; 
  width: 90vw;
  position: relative;
}
  
.filterBar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden; 
  scrollbar-width: none;
  align-items: center;
  height: 60px;
  scroll-behavior: smooth;
  /* border-left : solid 1px var(--background);  */
}

.filterBar::-webkit-scrollbar {
  display: none;
}

.search {
  border: 2px solid var(--firstColor) !important;
  border-radius: 20px !important;
  padding: 8px 20px !important;
  background-color: var(--secondColor) !important;
  margin: 5px !important;
  min-width: fit-content !important; 
  height: 40px;
  /* min-width:max-content;  */
}


#filter {
  margin: 0 14px; 
  cursor: pointer; 
}


.search {
  padding: 8px 14px; 
}

.search > input {
  border : none; 
  height: 20px;
  color: var(--firstColor); 
  font-family: var(--fontBody); 
  font-size: 1em;
}

.search > input:focus {
  outline : none; 
}

#searchBar::placeholder {
  color: var(--firstColor); 
}

#searchBar {
  margin-left: 14px;
}

.MuiOutlinedInput-notchedOutline {
  border : none !important; 
}  

.MuiInputBase-formControl {
  border : 2px solid var(--firstColor) !important; 
  border-radius: 20px !important;
  padding: 8px 20px !important;
  background-color: var(--secondColor) !important;
  margin: 5px !important;
  font-family: var(--fontBody) !important;
}

.MuiInputLabel-root {
  font-family: var(--fontBody) !important;
  color: var(--firstColor) !important; 
  font-size: 1em !important;
  padding-left: 8px !important;
}

.MuiMenuItem-root{
  font-family: var(--fontBody) !important; 
  color: var(--firstColor) !important;
  font-size: 0.9em !important;
}

.MuiSelect-multiple, .MuiSelect-select {
  color: #ED5829 !important; 
}

.scroll {
  display: flex;
  flex-direction: row;
}

.scroll > img {
  cursor: pointer;
}


