/* MidiProject */
.midiProjectContainer {
  grid-area: 2 / 1 / 4 / 2;
}

.midiCardHeader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.background2 {
  background-color: var(--cardBgColor2);
}

#headerMidiCardBorder {
  width: 100%;
  height: 1px;
  background-color: var(--firstColor);
  top: 115px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.projectGroupMidi li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.projectGroupMidi div {
  max-width: 300px;
}

.projectFieldName {
  text-align: left;
  font-weight: bold;
  width: 100%;
}

.projectFieldContent {
  text-align: right;
  width: 100%;
}

.buttonMidiProjectContainer {
  text-align: center;
  margin-top: 20px;
}

.buttonMidiProject {
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 1em 1em 1em;
  margin-bottom: 2wh;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--firstColor);
  font-family: var(--fontTitle);
}

.buttonMidiProject:hover {
  text-decoration: none;
}

.buttonMidiProject:active {
  position: relative;
  top: 1px;
}

/* MidiExpert */
.midiExpertContainer {
  grid-area: 2 / 2 / 4 / 4;
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
}

.midiExpertCard {
  background-color: rgba(255, 255, 255, 0.7);
  /* box-shadow: 0px 0px 3px 0px #ffffff; */
  border-radius: 1%;
  width: 16em;
  height: 20em;
  margin: 0 10px 20px 10px;
  padding: 10px;
}

.separation {
  height: 1px;
  background-color: var(--firstColor);
  margin: 5px 0 10px 0;
}

.infoExpert {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.part2 > li {
  display : flex; 
  justify-content: space-between;
}

.part1 > li, .part2 > li {
  padding : 3px; 
}



