.midiCardHeader {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#headerMidiCardBorder {
  width: 100%;
  height: 1px;
  background-color: var(--firstColor);
  top: 115px;
  margin-bottom: 10px;
}

.midiCardRequiredContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.projectFieldName {
  grid-area: 1 / 1 / 2 / 2;
}

.projectFieldContent {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
